// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Font Awesome
@import "~font-awesome-5/scss/fa-regular.scss";
@import "~font-awesome-5/scss/fa-brands.scss";
//@import "~font-awesome/scss/fa-light.scss";
//@import "~font-awesome/scss/fa-solid.scss";
@import "~font-awesome-5/scss/fontawesome.scss";
@import "~font-geomanist/scss/Geomanist-Regular.scss";
@import "~font-geomanist/scss/Geomanist-Book.scss";
@import "~font-geomanist/scss/Geomanist-Medium.scss";
@import "~font-geomanist/scss/Geomanist-Bold.scss";
@import "~font-geomanist/scss/Geomanist-Light.scss";

//CSS Author
nav {
  @include float-left;
}
body{
  background: $body-bg;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
.main{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0 0 15px 0 rgba(50, 50, 50, 0.75);
  box-shadow:         0 0 15px 0 rgba(50, 50, 50, 0.75);
}
a{
  color: #FFF;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
a:hover{
  color: #FFF;
  text-decoration: none;
  opacity: .75;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.navbar-custom .dropdown-menu {
  background-color: #3193de;
}
.navbar-custom .dropdown-item {
  text-decoration: none; color: #fff;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
  text-decoration: none; color: #ff0000;
  background-color:#3193de;
}
.navbar-header .navbar-toggler {
  border: 0;
}
.navbar-toggler-icon {
  color: #fff;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
header .container{
  width: 100%;
  max-width: 1280px;
  border-bottom: solid 1px rgba(255, 255, 255, .4);
  background-color: rgba(0, 0, 0, .12);
}
.nav-link:hover .fa-facebook-square{
  color: #4267b2!important;
}
.dark-overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
  height: 100%;
  background-color: rgba(0, 0, 0, .42);
}
.nav-link{
  font-family: 'Geomanist-Book', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 37px;
  display: block;
  margin: 0;
  padding: 2px 0 0 0;
}
.btn.publica{
  font-family: 'Geomanist-Book', sans-serif;
  font-size: 14px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  line-height: 24px;
  height: 24px;
  padding: 0 22px;
  margin: 0 75px 0 0;
}
.btn.publica:hover{
  background-color: #3FA4FF;
  opacity: 1;
  border: solid 1px #3FA4FF;
}